body {
    background-image: url("../images/chuttersnap-hqVGQ4-D0NI-unsplash.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
#myname {
    font-family: 'Gudea', sans-serif;
    font-size: 30px;
} 

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 38px;
}

h1 #title-pipe, a:hover  {
    color: #946174 !important;
}

button {
    background: #946174 !important;
    border: #946174 !important;
    font-weight: 300 !important;
}

button:hover {
    background: #ab6c84 !important;
}