body {
    background-image: url("../images/chuttersnap-hqVGQ4-D0NI-unsplash.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
#myname {
    font-family: 'Gudea', sans-serif;
    font-size: 30px;
} 

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 38px;
}

h1 #title-pipe1, .pink-text, a:hover  {
    color: #946174 !important;
    text-decoration: none;
}

h1 #title-pipe2 {
    color: #a9a9a9;
}

.white-text {
    color: white;
}

#aboutnav {
    background: white;
}

#portnav {
    background: #946174;
    width: 100%;
}

.proj-card {
    border-bottom: 1px solid #946174;
    border-left: none;
}

button {
    background: #946174 !important;
    border: #946174 !important;
    font-weight: 300 !important;
}

button:hover {
    background: #ab6c84 !important;
}

button:focus {
    outline: none;
}